<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    {{ $styles := resources.Get "css/styles.css" }}
    {{ $styles = $styles | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    {{ $favicon := resources.Get "img/favicon.png" }}
    <link rel="icon" href="{{ $favicon.RelPermalink }}" type="image/png">


    <style>
        body { font-family: sans-serif; max-width: 800px; margin: 0 auto; padding: 20px; }
        .language-switcher { margin-bottom: 20px; }
        .language-switcher a { margin-right: 10px; }
        .active { font-weight: bold; }
    </style>
</head>
<body>
    <div class="menu-container">
        {{ $logo := resources.Get "img/logo.jpg" }}
        <img src="{{ $logo.RelPermalink }}" alt="Site Logo" class="logo">

        <div class="vertical-menu-container">
            <div class="menu-container">
    {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <a  class="menu-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                {{ end }}
            </div>
            <div class="menu-container">
                {{ partial "language-switcher.html" . }}
            </div>
        </div>
    </div>
    <div class="bluebox">
    <header>
        <div class="horizontal-container">
        <div class="vertical-container">
        <h1 class="title-text">{{ .Site.Title }}</h1>
        {{ $titleCows := resources.Get "img/title-cows.jpg" }}
        <span class="subtitle-text" >{{ i18n "subtitle" }}</span>
        <div class="horizontal-container">
        <div class="cta-button">
        <a href="https://eci.ec.europa.eu/047/public/#/screen/home" target="_blank" class="cta-button-text">{{ i18n "cta" }}</a>
        </div>
        <a href="https://citizens-initiative.europa.eu/initiatives/details/2024/000008_en#" class="learn-more-text" target="_blank">
            {{ i18n "learn_more" }}
        </a>
        </div>
        </div>
        <img src="{{ $titleCows.RelPermalink }}" alt="Sad cows looking through gate" class="title-cows">
    </header>
    </div>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
</body>
</html>
