<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    {{ $styles := resources.Get "css/styles.css" }}
    {{ $styles = $styles | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    {{ $favicon := resources.Get "img/favicon.png" }}
    <link rel="icon" href="{{ $favicon.RelPermalink }}" type="image/png">
</head>
<body>
    <div class="section menu-container">
        {{ $logo := resources.Get "img/logo.jpg" }}
        <img src="{{ $logo.RelPermalink }}" alt="Site Logo" class="logo">

        <div class="menu-container">
            {{ partial "language-switcher.html" . }}
        </div>
    </div>
    <div class="bluebox">
    <header>
        <div class="horizontal-container">
        <div class="vertical-container">
        <h1 class="title-text">{{ .Site.Title }}</h1>
        {{ $titleCows := resources.Get "img/title-cows.jpg" }}
        <span class="subtitle-text" >{{ i18n "subtitle" }}</span>
        <div class="horizontal-container">
            <a  href="https://eci.ec.europa.eu/047/public/#/screen/home" target="_blank" class="cta-button">
        <span class="cta-button-text">{{ i18n "cta" }}</span>
        </a>
        <a href="https://citizens-initiative.europa.eu/initiatives/details/2024/000008_en#" class="small-white-link" target="_blank">
            {{ i18n "learn_more" }}
        </a>
        </div>
        </div>
        <img src="{{ $titleCows.RelPermalink }}" alt="Sad cows looking through gate" class="title-cows">
    </header>
    </div>
    <div class="horizontal-container lighter-gradient-section" id="demands">
        <div class="vertical-container">
            <span class="big-blue-letters">
                {{ i18n "we-call-for" }} 
            </span>
        </div>
        <div>
            <p class="bullet-point">
                {{ i18n "incentives-point" }}
            </p>
            <p class="bullet-point-explanation">
                {{ i18n "incentives-explanation" }}
            </p> 
            <span class="bullet-point">
                {{ i18n "reduction-point" }}
            </span>
            <p class="bullet-point-explanation">
                {{ i18n "reduction-explanation" }}
            </p>
            <a href="https://citizens-initiative.europa.eu/initiatives/details/2024/000008_en#" target="_blank" class="detail-button">
                <span class="detail-button-text">
                   {{ i18n "demands-in-detail" }} ›
                </span>
            </a>

        </div>
    </div>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    <div class="bluebox" style="height:200px">
        <div class="horizontal-container">
            <div class="vertical-container" style="margin: 40px">
            <span class="small-white-text">
                {{ i18n "organization-details" }}&nbsp<a href="https://www.savethechickens.it/" target="_blank" class="small-white-link" >{{ i18n "here" }}</a>.
            </span>
            <div class="horizontal-container">
                <a  href="https://eci.ec.europa.eu/047/public/#/screen/home" target="_blank" class="cta-button">
                    <span class="cta-button-text">{{ i18n "cta" }}</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
