{{ define "main" }}
    <div class="bluebox">
    <header>
        <div class="horizontal-container">
        <div class="vertical-container">
        <h1 class="title-text">{{ .Site.Title }}</h1>
        <span class="subtitle-text" >{{ i18n "subtitle" }}</span>
        <div class="horizontal-container">
            <a  href="https://eci.ec.europa.eu/047/public/#/screen/home" target="_blank" class="cta-button">
        <span class="cta-button-text">{{ i18n "cta" }}</span>
        </a>
        <a href="https://citizens-initiative.europa.eu/initiatives/details/2024/000008_en#" class="small-white-link" target="_blank">
            {{ i18n "learn_more" }}
        </a>
        </div>
        </div>
        {{ $titleCows := resources.Get "img/title-cows.jpg" }}
        <img src="{{ $titleCows.RelPermalink }}" alt="Sad cows looking through gate" class="title-cows">
    </header>
    </div>
    <div class="lighter-gradient-section vertical-container">
        <div class="horizontal-container" id="demands">
            <div class="vertical-container">
                <span class="big-blue-letters">
                    {{ i18n "we-call-for" }} 
                </span>
            </div>
            <div>
                <p class="bullet-point">
                    {{ i18n "incentives-point" }}
                </p>
                <p class="bullet-point-explanation">
                    {{ i18n "incentives-explanation" }}
                </p> 
                <span class="bullet-point">
                    {{ i18n "reduction-point" }}
                </span>
                <p class="bullet-point-explanation">
                    {{ i18n "reduction-explanation" }}
                </p>
                <a href="https://citizens-initiative.europa.eu/initiatives/details/2024/000008_en#" target="_blank" class="detail-button">
                    <span class="detail-button-text">
                        {{ i18n "demands-in-detail" }} ›
                    </span>
                </a>
            </div>
        </div>
        <div class="mid-title" style="margin-top:90px">{{i18n "why"}}</div>

        <div class="cards-wrapper">
            {{ range where .Site.RegularPages "Type" "why" }}
            <div class="card">
                <h3 class="card-title">{{ .Title }}</h3>
                <div class="card-content">
                    {{ .Content }}
                </div>
            </div>
            {{ end }}
        </div>

        <div class="mid-title" style="margin-top:90px">{{i18n "get-involved"}}</div>
        <p>
            {{i18n "printable-fliers"}}
        </p>
        {{ $pdfs := slice 
        (dict "file" "Stop Cruelty Stop Slaughter-en.pdf" "label" "Stop Cruelty Stop Slaughter" "subtitle" "English - Color")
        (dict "file" "Stop Cruelty Stop Slaughter-cs.pdf" "label" "Stop Cruelty Stop Slaughter" "subtitle" "Czech - Color")
        (dict "file" "Stop Cruelty Stop Slaughter-en-bw.pdf" "label" "Stop Cruelty Stop Slaughter" "subtitle" "English - Black & White")
        (dict "file" "Stop Cruelty Stop Slaughter-cs-bw.pdf" "label" "Stop Cruelty Stop Slaughter" "subtitle" "Czech - Black & White")
        }}

        <div class="pdf-cards">
            {{ range $pdfs }}
            {{ $pdf := resources.Get (printf "pdf/%s" .file) }}
            {{ $thumbnail := resources.Get (printf "pdf/%s.png" (replace .file ".pdf" "")) }}

            <div class="pdf-card">
                <a href="{{ $pdf.RelPermalink }}" download>
                    <div class="card-content">
                        <div class="thumbnail">
                            <img src="{{ $thumbnail.RelPermalink }}" alt="Preview of {{ .label }}">
                        </div>
                        <div class="card-text">
                            <h3>{{ .label }}</h3>
                            <p class="subtitle">{{ .subtitle }}</p>
                            <span class="download-hint">Click to download</span>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>

        <div class="chicken-overlay">
            {{ $holdingChicken := resources.Get "img/holding-chicken.jpg" }}
            <img src="{{ $holdingChicken.RelPermalink }}" alt="Woman holding a chicken" class="holding-chicken">
            <div class="chicken-overlay-text-head">{{i18n "donate"}}</div>
            <div class="chicken-overlay-text">IBAN: IT74K0503401708000000004326 <br/> SWIFT/BIC: BAPPIT21127</div>
        </div>
        <div class="mid-title">{{i18n "partners" }}</div>
        {{ partial "image-grid.html" (dict "dataSource" "partners") }}


    </div>
{{ end }}
