.logo {
    height: 60px;
}

/* For the parent container */
.menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bluebox {
    box-sizing: border-box;
    width: 1600px;
    height: 641px;
    background: #00509D;
    border-radius: 0px;
}

.small-white-text {
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
    -webkit-background-clip: text !important;
    color: rgba(217, 229, 241, 1);
    text-transform: unset;
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 16px;
    text-rendering: geometricPrecision;
    caret-color: rgba(217, 229, 241, 1);
    text-decoration: none;
    --font-id: gfont-open-sans;
    --fills: [["^ ","~:fill-color","#d9e5f1","~:fill-opacity",1]];
    letter-spacing: 0px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
}


.title-text {
    line-height: 1.2;
    text-align: center;
    box-sizing: border-box;
    -webkit-background-clip: text !important;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 55px;
    text-rendering: geometricPrecision;
    caret-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    --font-id: gfont-sigmar;
    --fills: [["^ ","~:fill-color","#ffffff","~:fill-opacity",1]];
    letter-spacing: 0px;
    font-family: "Sigmar";
    font-style: normal;
    font-weight: 400;
}

.subtitle-text {
    line-height: 1.2;
    text-align: left;
    box-sizing: border-box;
    -webkit-background-clip: text !important;
    color: rgba(255, 255, 255, 1);
    text-transform: unset;
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 30px;
    text-rendering: geometricPrecision;
    caret-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    --font-id: gfont-open-sans;
    --fills: [["^ ","~:fill-color","#ffffff","~:fill-opacity",1]];
    letter-spacing: 0px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
}

.cta-button {
    box-sizing: border-box;
    width: 277px;
    height: 60px;
    background: #FCA311;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cta-button-text {
    line-height: 1.2;
    text-align: center;
    box-sizing: border-box;
    -webkit-background-clip: text !important;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 26px;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    --font-id: gfont-open-sans;
    --fills: [["^ ","~:fill-color","#000000","~:fill-opacity",1]];
    letter-spacing: 0px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 100%;
}

.title-cows {
    height: 600px;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically centers items in the row */
    justify-content: space-between; /* Adds space between the text content and image */
    gap: 20px; /* Adds spacing between the elements */
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers items vertically */
    align-items:center;
    gap: 15px; /* Adds spacing between the title, subtitle, and button */
}


.vertical-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px; /* Space between the two menus */
    margin-left: auto; /* Pushes the vertical container to the right */
    justify-content: flex-end; /* Aligns items to the right */
}

.small-white-link {
    line-height: 1.4;
    box-sizing: border-box;
    -webkit-background-clip: text !important;
    color: rgba(255, 255, 255, 1);
    text-transform: unset;
    overflow-wrap: initial;
    font-size: 18px;
    caret-color: rgba(255, 255, 255, 1);
    text-decoration: underline;
    --font-id: gfont-open-sans;
    --fills: [["^ ","~:fill-color","#ffffff","~:fill-opacity",1]];
    letter-spacing: 0px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
}

.big-blue-letters {
    line-height: 0.8;
    text-align: left;
    box-sizing: border-box;
    -webkit-background-clip: text !important;
    color: rgba(0, 80, 157, 1);
    text-transform: uppercase;
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 150px;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 80, 157, 1);
    text-decoration: none;
    --font-id: gfont-sigmar;
    --fills: [["^ ","~:fill-color","#00509d","~:fill-opacity",1]];
    letter-spacing: 0px;
    font-family: "Sigmar";
    font-style: normal;
    font-weight: 400;
}

.bullet-point {
    line-height: 1.3;
    text-align: left;
    box-sizing: border-box;
    -webkit-background-clip: text !important;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-break: auto;
    overflow-wrap: initial;
    font-size: 22px;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    --font-id: gfont-open-sans;
    --fills: [["^ ","~:fill-color","#000000","~:fill-opacity",1]];
    letter-spacing: -1px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    text-indent: 0;
}

.bullet-point-explanation {
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
    -webkit-background-clip: text !important;
    color: rgba(0, 0, 0, 1);
    text-transform: unset;
    line-break: auto;
    overflow-wrap: initial;
    font-size: 16px;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    --font-id: gfont-open-sans;
    --fills: [["^ ","~:fill-color","#000000","~:fill-opacity",1]];
    letter-spacing: 0px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    text-indent: 0;
}

.detail-button {
    box-sizing: border-box;
    width: 416px;
    height: 60px;
    background: #D9E5F1;
    border: 2px solid #00509D;
    border-radius: 50px;
    text-decoration: none;
    display: block;
}

.detail-button-text {
    line-height: 1.2;
    text-align: left;
    box-sizing: border-box;
    -webkit-background-clip: text !important;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 18px;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    --font-id: gfont-open-sans;
    --fills: [["^ ","~:fill-color","#000000","~:fill-opacity",1]];
    letter-spacing: 0px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
}


.menu-item {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    margin-left: 20px; /* Space between menu items */
    line-height: 1.2;
    box-sizing: border-box;
    -webkit-background-clip: text !important;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    overflow-wrap: initial;
    white-space: pre;
    font-size: 20px;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    --font-id: gfont-open-sans;
    --fills: [["^ ","~:fill-color","#000000","~:fill-opacity",1]];
    letter-spacing: 0px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
}
