body {
    font-family: sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.big-blue-letters, .bullet-point, .bullet-point-explanation, .detail-button-text, .menu-item {
  box-sizing: border-box;
  -webkit-background-clip: text !important;
  text-rendering: geometricPrecision;
  text-decoration: none;
  letter-spacing: 0px;
  font-style: normal;
}

/* Open Sans font group */
.small-white-text, .subtitle-text, .cta-button-text, .small-white-link,
.bullet-point, .bullet-point-explanation, .detail-button-text, .menu-item {
  font-family: "Open Sans";
  --font-id: gfont-open-sans;
}

/* Sigmar font group */
.title-text, .big-blue-letters {
  font-family: "Sigmar";
  --font-id: gfont-sigmar;
}

/* White text group */
.small-white-text, .title-text, .subtitle-text, .small-white-link {
  color: rgba(255, 255, 255, 1);
  caret-color: rgba(255, 255, 255, 1);
}

/* Black text group */
.cta-button-text, .bullet-point, .bullet-point-explanation, .detail-button-text, .menu-item {
  color: rgba(0, 0, 0, 1);
  caret-color: rgba(0, 0, 0, 1);
}

/* Uppercase text */
.title-text, .cta-button-text, .big-blue-letters, .bullet-point, .detail-button-text, .menu-item {
  text-transform: uppercase;
}

/* Normal text */
.small-white-text, .subtitle-text, .small-white-link, .bullet-point-explanation {
  text-transform: unset;
}

/* Text wrapping properties */
.small-white-text, .title-text, .subtitle-text, .big-blue-letters, .bullet-point, .bullet-point-explanation {
  line-break: auto;
  overflow-wrap: initial;
}

.logo {
    height: 60px;
}

/* For the parent container */
.menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bluebox {
    box-sizing: border-box;
    width: 1600px;
    height: 641px;
    background: #00509D;
    border-radius: 0px;
}

.small-white-text {
    line-height: 1.5;
    text-align: left;
    --fills: [["^ ","~:fill-color","#d9e5f1","~:fill-opacity",1]];
    color: rgba(217, 229, 241, 1);
    caret-color: rgba(217, 229, 241, 1);
    font-size: 16px;
    font-weight: 400;
}

.title-text {
    line-height: 1.2;
    text-align: center;
    --fills: [["^ ","~:fill-color","#ffffff","~:fill-opacity",1]];
    font-size: 55px;
    font-weight: 400;
}

.subtitle-text {
    line-height: 1.2;
    text-align: left;
    --fills: [["^ ","~:fill-color","#ffffff","~:fill-opacity",1]];
    font-size: 30px;
    font-weight: 400;
}

.cta-button {
    box-sizing: border-box;
    width: 277px;
    height: 60px;
    background: #FCA311;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cta-button-text {
    line-height: 1.2;
    text-align: center;
    --fills: [["^ ","~:fill-color","#000000","~:fill-opacity",1]];
    font-size: 26px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 100%;
}

.title-cows {
    height: 600px;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.vertical-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    margin-left: auto;
}

.small-white-link {
    line-height: 1.4;
    --fills: [["^ ","~:fill-color","#ffffff","~:fill-opacity",1]];
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    overflow-wrap: initial;
}

.big-blue-letters {
    line-height: 0.8;
    text-align: left;
    --fills: [["^ ","~:fill-color","#00509d","~:fill-opacity",1]];
    color: rgba(0, 80, 157, 1);
    caret-color: rgba(0, 80, 157, 1);
    font-size: 150px;
    font-weight: 400;
}

.bullet-point {
    line-height: 1.3;
    text-align: left;
    --fills: [["^ ","~:fill-color","#000000","~:fill-opacity",1]];
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: 800;
    text-indent: 0;
}

.bullet-point-explanation {
    line-height: 1.5;
    text-align: left;
    --fills: [["^ ","~:fill-color","#000000","~:fill-opacity",1]];
    font-size: 16px;
    font-weight: 400;
    text-indent: 0;
}

.detail-button {
    box-sizing: border-box;
    width: 316px;
    height: 60px;
    background: #D9E5F1;
    border: 2px solid #00509D;
    border-radius: 50px;
    text-decoration: none;
    display: block;
    align-content: center;
}

.detail-button-text {
    line-height: 1.2;
    text-align: left;
    --fills: [["^ ","~:fill-color","#000000","~:fill-opacity",1]];
    font-size: 18px;
    font-weight: 500;
    margin: 30px;
}

.menu-item {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    margin-left: 20px;
    line-height: 1.2;
    --fills: [["^ ","~:fill-color","#000000","~:fill-opacity",1]];
    font-size: 20px;
    font-weight: 600;
    white-space: pre;
    overflow-wrap: initial;
}
