{{/* layouts/partials/image-grid.html */}}
<style>
.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.image-grid img {
    width: 120px;
    height: auto;
    object-fit: contain;
}
</style>

<div class="image-grid">
    {{- $dataSource := .dataSource | default "partners" -}}
    {{- range index site.Data $dataSource "partners" -}}
    {{- $imageName := .image -}}
    {{- $url := .url -}}
    {{- $imagePath := print "img/" $imageName -}}
    {{- $image := resources.Get $imagePath -}}
    {{- if $url -}}
    <a href="{{ $url }}" target="_blank" rel="noopener">
        <img src="{{ $image.RelPermalink }}" alt="Image: {{ $imageName }}">
    </a>
    {{- else -}}
    <img src="{{ $image.RelPermalink }}" alt="Image: {{ $imageName }}">
    {{- end -}}
    {{- end -}}
</div>
